// Application-level settings for the Runner target.

// The application's name. By default this is also the title of the Flutter window.
PRODUCT_NAME = Onshore 3Rivers

// The application's bundle identifier
PRODUCT_BUNDLE_IDENTIFIER = ai.onshoretech.onshore-3rivers-ai

// The copyright displayed in application information
PRODUCT_COPYRIGHT = Copyright © 2026 Onshore Tech Consultants. All rights reserved.
